<div class="sidebar">
    <div>
        <nav>
            <a href="{{ '/' | relative_url }}"><h1>{{ site.title }}</h1></a>
            <ul>
                {% for item in site.navigation %}
                    {% if item.url contains '://' %}
                        {% assign url = item.url %}
                    {% else %}
                        {% assign url = item.url | relative_url %}
                    {% endif %}
                    <li> <a href="{{url}}">{{item.title}}</a> </li>
                {% endfor %}
            </ul>
        </nav>
        <div class="footer">
            <p>
                &copy; {% if copyrightYear %}{{copyrightYear}}{% else %}{{ site.time | date: '%Y' }}{% endif %} {{ site.copyrightName }}.
                <br />
                {% if site.webSource %}
                <a href="{{site.webSource}}">Contribute to this site.</a><br />
                {% endif %}
                {% for item in site.footerLinks %}
                    {% if item.url contains '://' %}
                        {% assign url = item.url %}
                    {% else %}
                        {% assign url = item.url | relative_url %}
                    {% endif %}
                    <a href="{{url}}">{{item.title}}</a>
                {% endfor %}
            </p>
        </div>
    </div>
</div>