<div class="sidebar">
    <div>
        <nav class="nav">
            <a href="{{ '/' | relative_url }}"><h1 class="navLink h">{{ site.title }}</h1></a>
            <ul class="links">
                {% for item in site.navigation %}
                    {% if item.url contains '://' %}
                        {% assign url = item.url %}
                    {% else %}
                        {% assign url = item.url | relative_url %}
                    {% endif %}
                    <li> <a class="navLink" href="{{url}}">{{item.title}}</a> </li>
                {% endfor %}
            </ul>
        </nav>
        <div class="footer">
            <p class="copyright">
                &copy; {% if copyrightYear %}{{copyrightYear}}{% else %}{{ site.time | date: '%Y' }}{% endif %} {{ site.copyrightName }}.
                <br />
                {% if site.webSource %}
                <a class="footerLink" href="{{site.webSource}}">Contribute to this site.</a><br />
                {% endif %}
                {% for item in site.footerLinks %}
                    {% if item.url contains '://' %}
                        {% assign url = item.url %}
                    {% else %}
                        {% assign url = item.url | relative_url %}
                    {% endif %}
                    <a href="{{url}}" class="footerLink">{{item.title}}</a>
                {% endfor %}
            </p>
        </div>
    </div>
</div>