<!doctype html>
{% if site.lang == "" %}
<html>
{% else %}
<html lang="{{site.lang}}">
{% endif %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer, same-origin">
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
    {% if site.favicon %}
    <link rel="shortcut icon" href="{{ site.favicon }}">
    <link rel="icon" href="{{site.favicon}}">
    <link rel="apple-touch-icon" href="{{site.favicon}}">
    {% endif %}
    {% include seo.html %}
  </head>
  <body>
    {{ content }}
  </body>
</html>